*{
 margin: 0;
 padding: 0;
}
body{
 margin: 0;
 /* padding:15px 60px; */
 color: white;
 font-family: 'Heebo', sans-serif;
 
}

.banner{
 background-image: url(img/36267\ \(1000×667\).jpg);
 width: 100%;
 height: 135vh;
 background-size: cover;
 background-position:center;
}

header{
 margin-top: 30px;
 display: flex;
 align-items:center;
 width: 80%;
 justify-content: space-between;
}

.logo{
 cursor: pointer;
 text-transform: uppercase;
}
.logo-text1{
 line-height: 0.8;
 font-weight: 900;
 padding: 0;
 margin: 0;
 font-size: 2.2em;
}
.logo-text2{
 font-weight: 500;
 padding: 0;
 margin: 0;
 font-size: 1em;
}
.time-contact{
 display: flex;
 align-items: center;
 width: 40%;
 justify-content: space-between;
}
.head-container{
 padding: 10px 60px;
}

.nav-bar-container{
 height: 30px 0;
 margin: 30px 0;
 background:rgba(249, 250, 250, 0.15);
 padding:0;
}
.nav-bar{
 line-height: 0.4;
 margin-top: 20px;
 width: 80%;
 padding: 25px 10px;
 font-size:150;
 display: inline-block;
 align-items: center;
 justify-content: space-between;
}
.nav-bar ul li{
 list-style: none;
 display: inline-block;
 margin: 0 25px;
}
.nav-bar ul li a{
 text-decoration: none;
 color: white;
}
.nav-bar ul li a:active{
 text-decoration: none;
 color: #1eb2a6;
}
.nav-bar ul li a:hover{
 text-decoration: none;
 color: #1eb2a6;
}
.nav-bar ul li a:active{
 text-decoration: none;
 color: #1eb2a6;
}
.nav-bar-container{
 display: flex;
}

.get-para{
 /* line-height:4; */
 padding-top: 45px;
 font-size: 0.8em;
 text-transform: uppercase;
}
.get2{
 height: 100px;
 width: 160px;
 background: #1eb2a6;
}
.get{
 height: 0;
 width:20px;
 border-bottom: 100px solid #1eb2a6;
 border-left: 60px solid transparent;
 text-align: center;
}
/* .test-small{
 height: 0;
 border-bottom: 100px solid blue;
 border-left: 100px solid transparent;
 text-align: center;
} */



.welcome{
 color: rgba(249, 250, 250, 0.8);
 margin-top: 130px;
}
.best{
 margin: 10px 0;
 font-size: 2.5rem;
}
.para{
 color: rgba(249, 250, 250, 0.8);
}
.intro{
 width: 530px;
}


.value{
 font-weight: 600;
}
.button-container{
 padding: 25px 0;
}
.get-started{
 padding: 20px 25px;
 border: none;
 border-radius: 4px;
 background:#1eb2a6;
 color:white;
 font-weight: 500;
 cursor: pointer;
}

.view-course{
 padding: 20px 25px;
 border: none;
 border-radius: 4px;
 background:white;
 color: #1eb2a6;
 font-weight: 500;
 cursor: pointer;
}